<div class="container" id="con">
    <div class="jumbotron">
        <h1>Access Quotes</h1>
        <p>Share great quotes and also read the best quotes .</p>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-4" id="a">
                <div class="row" id="b">
                    <h4>Publish Quotes</h4>
                </div>
            </div>

            <app-quote-form (addQuote)='addNewQuote($event)'></app-quote-form>
            
        </div>

        <div class="col-8" id="c">
            <div class="row" id="b">
                <h4>Amazing Quotes</h4>
            </div>

            <div class="row">
                <div class="card" id="ca" *ngFor='let quote of quotes;let i = index'>
                   
                    <div class="card-title">
                        <h5 font color="lightblue" *ngIf="showDescription">{{quote.name}}</h5>
                    </div>
                  
                    <button type="button" (click)="toogleQuote()"
                        class="btn btn-primary">{{showDescription? "Hide": "Show"}} Quote Details</button>
                   
                    <div class="card-body" id="d">
                        <p id="{{i}}" appHighlight>{{quote.description}}</p>
                    </div>
                    <div class="card-body" id="e" *ngIf="showDescription"></div>
                    
                    <div class="row">
                        <div class="col-4">
                           
                                <app-vote></app-vote>
                        </div>
                        <div class="col-6" id="f">
                            <p>Submitted by {{quote.submitter}}, {{quote.completeDate|dateCount}}</p>
                            
                        </div>
                        <div class="col-2">
                            
                            <app-quote-detail [quote]='quote' (isComplete)='deleteQuote($event,i)'></app-quote-detail>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

