<div class="container" id="con">
    <div class="jumbotron">
        <h1>Access Quotes</h1>
        <br>
        <p>Share great quotes and also read the best quotes .</p>
    </div>
    <div class="row">
        <div class="col-4" id="a">
                <app-quote-form (addQuote)='addNewQuote($event)'></app-quote-form>

                <div class="col-8" id="c">
                    <h4>Amazing Quotes</h4>
                    <div class="card" id="ca" *ngFor='let quote of quotes;let i = index'>
                          <!-- <p>Author:{{quote.author}}</p>
                        <p>Submitted by:{{quote.name}}</p> -->
                        <div class="card-title">
                            <h5 font color="lightblue" *ngIf="showDescription">{{quote.name}}</h5>
                        </div>
                        
                        <!-- <button type="button" (click)="toogleQuote()"
                            class="btn btn-primary">{{showDescription? "Hide": ""}} Quote Details</button> -->
                        <div class="card-body" id="d">
                            <p id="{{i}}" appHighlight>{{quote.description}}</p>
                        </div>
                        <div class="card-body" id="e" *ngIf="showDescription">

                        </div>
                        <div class="row">
                            <div class="col-4">
                                
                            </div>
                            <div class="col-2">
                                <app-quote-detail [quote]='quote' (isComplete)='deleteQuote($event,i)'>
                                </app-quote-detail>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>