<div class="container-fluid" id="cf">
    <div class="row">
        <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
            
            <div class="form-group">
                <label for="name">Submitted By:</label>
                <input type="text" class="form-control" id="cf" [(ngModel)]="name" name="name">
                
            </div>

             
            <div class="form-group">
                <label for="description">Quote</label>
                <textarea class="form-control" id="description" rows="5" [(ngModel)]="description" name="quote"  required></textarea>
                
            </div>
                
            <div class="form-group">
                <label for="author">Author:</label>
                <textarea class="form-control" id="submitter" rows="1" [(ngModel)]="submitter" name="submitter" required></textarea>
            </div>


            <button type="Submit" class="btn btn-primary">Publish Quote</button><br>
        </form>

    </div>
</div>